doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  section.logos
    img(src="images/app-svc.png" alt="App Service logo", style="margin-top:20px;height:80px;width:85px")
    img(src="images/k8.png" alt="K8 logo", style="margin-top:20px;height:80px;width:85px")

  footer
    img.habicat-jumping(src="images/image-cat-jumping.svg" alt="Habicat jumping")
    img.habicat-set(src="images/image-cat-set.svg" alt="Habicat standing with package")
